@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import "tailwindcss";
@plugin "tailwind-scrollbar";

@theme {
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-key-color: #36bbfd;
  --color-light-key-color: #5ecafe;
  --color-dark-key-color: #0077c2;
  --color-secondary-color: #34d399;
  --color-light-secondary-color: #6ee7b7;
}

/* custom styles */
body {
  font-family: "Pretendard", sans-serif;
  background: #000;
}

/* 특정 스크롤바 숨기기 */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
